<td>&nbsp;&nbsp;</td>
<td id="editbarattach-outer" class="editbarbutton editbargroupsfirst">
  <select name="headingsPluginDropDownList" size="1" onchange="javascript:headingsPluginDropdownListChanged(this)">
      <option>Normal Text</option>
      <option>Heading 1</option>
      <option>Heading 2</option>
      <option>Heading 3</option>
      <option>Heading 4</option>
      <option>Heading 5</option>
      <option>Heading 6</option>
    </select>
</td>